
{% extends '../base.html' %}
{% load static %}
{% block title %}Homepage - DHVA{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% if messages %}
    <div class="container alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
{% endif %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome, {{user.fullname}}</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    


    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Announcement</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="announcement-place pr-3 pl-3">
                        {% for announce in announcement %}
                        <h4 style="color: #000;">{{announce.tittle}}</h4>
                        <p>
                            {{announce.content|linebreaks|urlize}}
                        </p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Your Classes</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% for class in user.student_class.all %}


                    <div class="mb-4">
                        <a href="{% url 'classpage' class.id %}">
                            <div class="card border-left-primary shadow h-100">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">{{class}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-screen-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}