{% extends '../base.html' %}
{% block title %}Homepage - DHVA{% endblock %}
{% block content %}

<header class="pt-5">
    <div class="container">
        <div class="">
            <h2 style="font-family: 'Roboto', sans-serif;">Welcome, {{user.fullname}}</h2>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box" style="border-radius: 7px; border: 2px solid #000;">
                <h3>Your class</h3>
                <ul>
                    {% for class in user.student_class.all %}

                    <li><a href="{% url 'classpage' class.id %}">{{class}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}