{% extends '../base.html' %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
             

    {% if messages %}
    <div class="container alert alert-danger" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="container py-5" style="color: #000;">
        <h1>Login</h1>
        <form method="POST">
          {% csrf_token %}
          {{ login_form|crispy }}
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Create an account</a>.</p>
      </div>


    <script>
      {% if messages %}
      {% for message in messages %}
      window.addEventListener('load', function () {
  alert("{{ message }}")
})
        {% endfor %}
      {% endif %}
    </script>
    
{% endblock %}